main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #151c4180;
    background-blend-mode: soft-light;
    background-position: center;
}