<!-- Archivo para montar carpeta en Git hub -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/img/estrella-afilada-medio-trazo 1.png" alt="Apex-Logo">
            <h1>Apex</h1>
        </div>
        <div class="menu-item">Lista de usuarios</div>
        <div class="menu-item">Lista de bloqueados</div>
        <div class="menu-item">Logs</div>
        <div class="menu-item">Intentos de acceso</div>
        <div class="menu-item">Configuración de acceso</div>
        <div class="admin-info">
            <div>
                Administrador<br>
                admin@gmail.com
            </div>
            <img src="/img/menu-puntos-vertical 1.png" alt="Menú">
        </div>
    </div>
    <div class="main-content">
        <h1>Panel de Control usuarios</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Celular</th>
                    <th>Contrseña</th>
                    <th>Rol</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pepito</td>
                    <td>perez</td>
                    <td>5555-5443-233</td>
                    <td>********</td>
                    <td>
                        <select>
                            <option>Cliente</option>
                            <option>Técnico</option>
                            <option>Secretaria</option>
                            <option>Programador</option>
                        </select>
                    </td>
                    <td>Activo</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button>1</button>
            <button>2</button>
            <button>3</button>
        </div>
    </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
<script src="/js/index.js"></script>
</html>
