<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="/css/contrasena.css">
</head>

<body>
    <div class="container">
        <div class="container_barra"></div>
        <div class="container_contenido">
            <div class="container_contenido_barra2">
                <p class="texto1">Configuración de Cuenta</p>
            </div>
            <div class="container_texto">
                <p class="texto2">Puedes cambiar tu contraseña de usuario aqui</p>
            </div>
            <div class="container_contenido_formulario">

                <div class="container_span">
                    <span>Contraseña Actual:</span>
                    <span>Nueva Contraseña:</span>
                    <span>Confirmar Nueva Contraseña:</span>
                </div>

                <div class="container_input">
                    <input type="text">
                    <input type="text">
                    <input type="text">
    
                    <div class="container_contenido_botones">
                        <button class="btn-cancelar">Cancelar</button>
                        <button class="btn-save">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>