<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminación de su cuenta y datos asociados.</title>
    <link rel="stylesheet" href="../css/eliminacionCuenta.css">
</head>
<body>

    <div class="form-container">
        <h2>Solicitud de eliminación de cuenta y datos asociados</h2>
        <p>Lamentamos saber que estás considerando eliminar tu cuenta. Te agradeceríamos mucho si pudieras compartir la razón de tu decisión y cómo podríamos mejorarlo. Tu opinión es muy importante para nosotros y nos gustaría entender mejor tus necesidades.</p>
        <form action="#" method="post">
            <label for="reason">Cual fue la razón para eliminar la cuenta :</label>
            <input type="text" id="reason" name="reason" value="Ya no utilizo esta cuenta">
            
            <label for="improvement">Como podemos mejorar :</label>
            <textarea id="improvement" name="improvement" rows="4"></textarea>
            
            <div class="buttons">
                <button type="button" class="cancel">Cancelar</button>
                <button type="submit" class="submit">Enviar</button>
            </div>
        </form>
    </div>

</body>
</html>