<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Cuentas bloqueadas</title>
    <link rel="stylesheet" href="/css/bloqueos.css">
</head>
<body class="container">
    <div class="col-4 bg-success">
        <%- include("partials/partial.barralatera.ejs") %>
    </div>
    <div class="col-8 bg-danger">
        <div class="container-fluid">
        
            <h1>ADMINISTRADOR</h1>
            <h2>Cuentas bloqueadas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Contraseña</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script src="/js/cuenta-bloqueo.js"></script>
</body>
</html>