<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- framework boostrap  css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- icons bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- custom style  -->
    <link rel="stylesheet" href="../css/inicio.autentificacion.dos.pasos.css">
    <title>Autentificación dos factores</title>
</head>
<body class="select_two_factor_container h-100 py-4 px-3">
    <!-- boton omitir  -->
    <div class="select_two_factor_omitir my-4"><p class="fs-5 text-secondary text-end mx-4"><ins>Omitir</ins></p></div>

    <!-- caja superior de informacion  -->
    <div class="select_two_factor_info row center mt-4">
        <div class="select_two_factor_info col-sm-2 col-md-2 col-lg-2"></div>

        <div class="select_two_factor_info col-sm-8 col-md-8 col-lg-8 box_info border border-bottom-0 border-black rounded-top">

            <div class="select_two_factor_row_info_top">
                <div class="select_two_factor_info_top col-md-10 col-lg-10">
                    <p class="h1 blockquote fs-3">Protege tu cuenta con la autenticacion de dos pasos</p>
                    <p class="fs-4 my-4">Cada vez que inicie sesion en tu cuenta de Apex, necesitaras la contraseña y un codigo de verificacion</p>         
                </div>
            </div>

            <div class="select_two_factor_row_info_bottom py-4">
                <p class="h4 fs-5 my-4">Añade una capa de seguridad adicional</p>
                <p class="fs-6">Introduce tu contraseña y un codigo de verificacion exclusivo que hayyas recibido en tu telefono</p>
                <p class="h4 fs-5 my-4">Protegete de usuarios malintencionados</p>
                <p class="fs-6">Aunque alguien consiga tu contraseña, no podra iniciar sesion en tu cuenta.</p>
            </div>
        </div>

        <div class="select_two_factor_info col-sm-2 col-md-2 col-lg-2"></div>
    </div>

    <!-- seccion empezar  -->
    <div class="select_two_factor_options row center">
        <div class="select_two_factor_options row box_footer border rounded bg-secondary-subtle py-4">
            <div class="select_two_factor_options col-md-2 col-ld-2"></div>
            
            <i class="select_two_factor_options col-md-1 col-ld-1 display-4 bi bi-phone"></i>
            <p class="select_two_factor_options col-md-2 col-ld-2 fs-5 mt-3">Agregar un número</p>

            <div class="select_two_factor_options col-md-2 col-ld-2"></div>

            <div class="select_two_factor_options col-md-3 col-ld-3 btn btn-primary btn-lg rounded-pill center fs-4">Empezar</div>

            <div class="select_two_factor_options col-md-2 col-ld-2"></div>
        </div>
    </div>


    <!-- framework bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
