<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="/css/exportar.datos.css" />
</head>

<body>
    <div class="containerBlur">
        
            <h1 class="tituloCaja">Exportar los datos personales</h1>
            <p class="mensaje">
                Añadir petición de exportación de datos 
            </p>
            <p class="mensaje">
                Se enviara un correo pidiendo que verifique la petición 
            </p>
            <div class="containerCampo">
                <input class="campo" type="email" name="email" id="email" placeholder="Ingrese su correo" />
            </div>
            <div class="containerBtn">
                <input class="btn" type="submit" value="Enviar" />
            </div>
        
    </div>
</body>

</html>