<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleco.css">
    <link rel="stylesheet" href="/css/panel.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('./components/menu'); %>
            <div class="content col-md-10" id="section1">
                <div class="">
                    <div class="fw-bold mt-3">Duración de los Tokens</div>
                <div class="d-flex mt-3">
                    <input type="number" class="form-control me-2" placeholder="1" id="tiempoT" style="width: 10%;">
                    <select class="form-select" id="medidaT" style="width: 10%;">
                        <option value="m">Minutos</option>
                        <option value="h">Horas</option>
                        <option value="d">Días</option>
                        <option value="w">Semanas</option>
                        <option value="y">Años</option>
                    </select>
                </div>
                    <div class="fw-bold mt-3">Frecuencia Copia de Seguridad</div>
                    <input type="text" class="t3 mx-auto px-3 rounded border-0 mt-3" placeholder="Semanal" >
                    <div class="fw-bold mt-3">Complejidad de las Contraseñas</div>
                        <div class="col d-flex">
                            <div class="mt-4">Cantidad de Caracteres</div>
                            <input type="text" class="t1 px-3 rounded border-0 mx-3 mt-3" id="cantC" placeholder="1">
                        </div>
                        <div class="col d-flex">
                            <div class="mt-4">Cantidad Mínima de Minúsculas</div>
                            <input type="text" class="mt-3 t1 px-3 rounded border-0 mx-3" id="" placeholder="1" id="cantMin">
                        </div>
                        <div class="col d-flex">
                            <div class="mt-4">Cantidad Mínima de Mayúsculas</div>
                            <input type="text" class="mt-3 t1 px-3 rounded border-0 mx-3" placeholder="1" id="cantMay">
                        </div>
                        <div class="col d-flex">
                            <div class="mt-4">Cantidad Mínima de Números</div>
                            <input type="text" class="mt-3 t1 px-3 rounded border-0 mx-3" placeholder="1" id="cantNum">
                        </div>
                        <div class="col d-flex">
                            <div class="mt-4">Cantidades Especiales</div>
                            <input type="text" class="mt-3 t1 px-3 rounded border-0 mx-3" placeholder="1" id="cantEsp">
                        </div>
                </div>

                <div class="d-flex-end mt-5">
                    <button class="btn btn-primary gbtn" id="btnG">Guardar Cambios</button>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="/js/complejidad-contras.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
