<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas de seguridad</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <h2>Nombre de usuario</h2>
    </nav>

    <header>
        <div class="title">
            <h1>Preguntas de seguridad</h1>
            <p>Tus preguntas de seguridad ayudan a mantener tu cuenta segura. Puede usarlos para restablecer su contraseña
            </p>
        </div>
            
        <form class="blue-box">
            <h3>¿Cuál fue tu primer proyecto o tarea en esta empresa?</h3>
            <div class="form-group">
                <label for="first-project">Respuesta</label>
                <input type="text" id="first-project" name="first-project">
            </div>

            <h3>¿Cuál fue el nombre de tu primera capacitación o curso en esta empresa?</h3>
            <div class="form-group">
                <label for="first-training">Respuesta</label>
                <input type="text" id="first-training" name="first-training">
            </div>
            <div class="buttons">
                <button type="" class="button1">Agregar otra pregunta</button>
                <button type="" class="button2">Guardar cambios</button>
            </div>
        </form>

    </header>
</body>

</html>