<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Apex | Iniciar sesión</title>
  </head>
  <body>
    <main>
        <form>
          <h1>BIENVENIDO A APEX</h1>
          <input type="text" placeholder="Ingrese su correo o usuario" required />
          <input type="password" placeholder="Ingrese su contraseña" required />
          <p>Recuperar usuario <a href="/recuperar">AQUI</a></p>
          <input class="boton" type="submit" value="Ingresar" />
          <div class="linea">
            <span class="line"></span>
            <p>O</p>
            <span class="line"></span>
          </div>
          <div class="metodos">
            <a href=""><img src="/img/google.png" /></a>
            <a href=""><img src="/img/microsoft.png" /></a>
            <a href=""><img src="/img/apple.png" /></a>
          </div>
        </form>
    </main>
  </body>
</html>
