<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleco.css">
    <link rel="stylesheet" href="/css/panel.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('./components/menu'); %>
                <div class="content col-md-10" id="section1">
                    <div class="contenedor">

                        <div class="caja_informacion">

                            <div class="informacion_caja1">
                                <h1>Duración de los Tokens</h1>
                                <div class="caja_input">
                                    <input type="number" class="form-control me-2 cajass cambio" id="tiempoT"
                                         value="">
                                    <select class="form-select selectores" id="medidaT" >
                                        <option value="m">Minutos</option>
                                        <option value="h">Horas</option>
                                        <option value="d">Días</option>
                                        <option value="w">Semanas</option>
                                        <option value="y">Años</option>
                                    </select>
                                </div>
                                <h1>Frecuencia Copia de Seguridad</h1>
                                <select class="form-select selectores camb" id="frecuenciaCS" style="width: 20%;">
                                    <option value="Diaria">Diaria</option>
                                    <option value="Semanal">Semanal</option>
                                    <option value="Mensual">Mensual</option>
                                    <option value="Anual">Anual</option>
                                </select>

                            </div>

                            <div class="informacion_caja2">

                                <h1>Complejidad de las Contraseñas</h1>
                                <div class="caja_grilla">
                                    <p>Cantidad de Caracteres:</p>
                                    <input type="number" class="t1 px-3 rounded border-0 mx-3 mt-3 cajass" id="cantC"
                                     value="">
                                    <p>Cantidad Mínima de Minúsculas:</p>
                                    <input type="number" class="mt-3 t1 px-3 rounded border-0 mx-3 cajass"
                                        id="cantMin">
                                    <p>Cantidad Mínima de Mayúsculas:</p>
                                    <input type="number" class="mt-3 t1 px-3 rounded border-0 mx-3 cajass"
                                        id="cantMay">
                                    <p>Cantidad Mínima de Números:</p>
                                    <input type="number" class="mt-3 t1 px-3 rounded border-0 mx-3 cajass"
                                        id="cantNum">
                                    <p>Cantidades Especiales:</p>
                                    <input type="number" class="mt-3 t1 px-3 rounded border-0 mx-3 cajass"
                                        id="cantEsp">

                                    <p>Intervalos de cambios de contraseña:</p>
                                    <div class="caja_input">
                                        <input type="number" class="mt-3 t1 px-3 rounded border-0 mx-3 cajass"
                                            id="intervaloCam">

                                        <select class="form-select mt-3 selectores" id="frecuenciaCS">
                                            <option value="Diaria">Dias</option>
                                            <option value="Semanal">Semanas</option>
                                            <option value="Mensual">Meses</option>
                                            <option value="Anual">Años</option>
                                        </select>

                                    </div>
                                </div>


                                <button class="gboton" id="btnG">Guardar Cambios</button>

                            </div>



                        </div>

                        <!-- NUEVO -->

                    </div>

                </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/complejidad-contras.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>