<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/permisos.css">
    <link rel="stylesheet" href="css/historialCambios.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="aside col-2 col-md-2 d-flex flex-column justify-content-between">
                <div>
                    <div class="header d-flex align-items-center justify-content-center mt-5">
                        <img class="title" src="../img/estrella-afilada-medio-trazo 1.png" alt="Apex-Logo"
                            style="height: 50px; margin-right: 10px;">
                        <h1 style="color: white; font-size: 30px; font-weight:700">Apex</h1>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
                        <!-- Ajustes Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between"
                            id="settings-button">
                            <span class="text-start">Ajustes</span>
                            <img class="dropdown-arrow" src="/img/angulo-hacia-abajo 1.png" alt="">
                        </button>
                        <div id="settings-dropdown"
                            style="display: none; flex-direction: column; background-color: #4961E4; height: auto;">
                            <button class="btn btn-secondary text-start">Cuenta</button>
                            <button class="btn btn-secondary text-start">Plataforma</button>
                            <button class="btn btn-secondary text-start">Autenticación de dos factores</button>
                        </div>

                        <!-- Usuarios Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="users-button">
                            <span class="text-start">Usuarios</span>
                            <img class="dropdown-arrow" src="/img/angulo-hacia-abajo 1.png" alt="">
                        </button>
                        <div id="users-dropdown"
                            style="display: none; flex-direction: column; background-color: #4961E4; height: auto; width: 100%;">
                            <button class="btn btn-secondary text-start">Listado</button>
                            <button class="btn btn-secondary text-start">Permisos</button>
                            <button class="btn btn-secondary text-start">Cuentas bloqueadas</button>
                            <button class="btn btn-secondary text-start">Panel de control</button>
                            <button class="btn btn-secondary text-start">Panel de seguridad</button>
                            <button class="btn btn-secondary text-start">Eliminación de cuentas</button>
                            <button class="btn btn-secondary text-start">Copias de seguridad</button>
                        </div>

                        <!-- Registros Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="records-button">
                            <span class="text-start">Registros</span>
                            <img class="dropdown-arrow" src="/img/angulo-hacia-abajo 1.png" alt="">
                        </button>
                        <div id="records-dropdown"
                            style="display: none; flex-direction: column; background-color: #4961E4; height: 100%; width: 100%;">
                            <button class="btn btn-secondary text-start">Usuarios</button>
                            <button class="btn btn-secondary text-start">Inicios de sesión</button>
                            <button class="btn btn-secondary text-start">Detección</button>
                            <button class="btn btn-secondary text-start">Monitoreo</button>
                        </div>

                        <!-- Grupos Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="groups-button">
                            <span class="text-start">Grupos</span>
                        </button>

                        <!-- Informes Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="reports-button">
                            <span class="text-start">Informes</span>
                        </button>

                        <!-- Accesos Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="access-button">
                            <span class="text-start">Accesos</span>
                            <img class="dropdown-arrow" src="/img/angulo-hacia-abajo 1.png" alt="">
                        </button>
                        <div id="access-dropdown"
                            style="display: none; flex-direction: column; background-color: #4961E4; height: auto; width: 100%;">
                            <button class="btn btn-secondary text-start">Historial</button>
                            <button class="btn btn-secondary text-start">Intentos</button>
                            <button class="btn btn-secondary text-start">Configuración</button>
                        </div>

                        <!-- Exportar Datos Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="export-button">
                            <span class="text-start">Exportar Datos</span>
                        </button>

                        <!-- Administración Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="admin-button">
                            <span class="text-start">Administración</span>
                            <img class="dropdown-arrow" src="/img/angulo-hacia-abajo 1.png" alt="">
                        </button>
                        <div id="admin-dropdown"
                            style="display: none; flex-direction: column; background-color: #4961E4; height: auto; width: 100%;">
                            <button class="btn btn-secondary text-start">Permisos</button>
                            <button class="btn btn-secondary text-start">Logs de Seguridad</button>
                            <button class="btn btn-secondary text-start">Configuración de logs</button>
                            <button class="btn btn-secondary text-start">Dispositivos</button>
                        </div>

                        <!-- Configuración Dropdown -->
                        <button class="btn btn-primary d-flex align-items-center justify-content-between mt-2"
                            id="config-button">
                            <span class="text-start">Configuración</span>
                            <img class="dropdown-arrow" src="/img/angulo-hacia-abajo 1.png" alt="">
                        </button>
                        <div id="config-dropdown"
                            style="display: none; flex-direction: column; background-color: #4961E4; height: auto; width: 100%;">
                            <button class="btn btn-secondary text-start">Configuración del sistema</button>
                            <button class="btn btn-secondary text-start">Preguntas de Seguridad</button>
                            <button class="btn btn-secondary text-start">Encriptación de contraseñas</button>
                        </div>
                    </div>
                </div>


                <div class="admin-section d-flex align-items-center justify-content-center mt-5">
                    <div class="flex-column mt-5 me-5">
                        <h1 style="color: white; font-size: 20px; margin-bottom: 0;">Administrador</h1>
                        <p style="color: gainsboro;">admin@gmail.com</p>
                    </div>
                    <div class="mt-4" style="color: white;">
                        <img src="/img/menu-puntos-vertical 1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content col-md-10">
                <div class="row mb-4 header-row">
                    <div class="col-12 d-flex">
                        <div class="row w-100">
                            <div class="col-12 eib">
                                <h1>Historial de Cambios</h1>
                                <!-- Barra de busqueda -->
                                <div class="group">
                                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                        <g>
                                            <path
                                                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                            </path>
                                        </g>
                                    </svg>
                                    <input placeholder="Buscar..." type="search" class="input" id="search_invenatry">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background-color: #1E3DEA; color: white;" scope="col">N°</th>
                                <th style="background-color: #1E3DEA; color: white;" scope="col">Fecha</th>
                                <th style="background-color: #1E3DEA; color: white;" scope="col">Horario</th>
                                <th style="background-color: #1E3DEA; color: white;" scope="col">Permisos</th>
                                <th style="background-color: #1E3DEA; color: white;" scope="col">Estados</th>
                            </tr>
                        </thead>
                        <tbody id="data">
                            <tr class="table-active table-buscar">
                                <td class="number">1</td>
                                <td class="fecha">15-08-2022</td>
                                <td class="horario">10:41:12</td>
                                <td class="permisos">Visualizar Accesos</td>
                                <td class="estado">Habilitado</td>
                            </tr>

                            </tr>
                            <tr class="table-buscar">
                                <td class="number">2</td>
                                <td class="fecha">29-11-2005</td>
                                <td class="horario">10:33:44</td>
                                <td class="permisos">Lista de bloqueos </td>
                                <td class="estado">Deshabilitado</td>
                            </tr>
                            <tr class="table-active table-buscar">
                                <td class="number">3</td>
                                <td class="fecha">22-04-2024</td>
                                <td class="horario">10:33:06</td>
                                <td class="permisos">Configurar contraseña</td>
                                <td class="estado">Deshabilitado</td>
                            </tr>
                            <tr class="table-buscar">
                                <td class="number">4</td>
                                <td class="fecha">10-02-2022</td>
                                <td class="horario">10:30:16</td>
                                <td class="permisos">Configurar usuario</td>
                                <td class="estado">Habilitado</td>
                            </tr>

                           
                        </tbody>
                    </table>
                </div>

                <div class="col-12">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                                style="background-image: url('/img/arrow_right.png'); background-size: contain; background-repeat: no-repeat; background-position: center; width: 30px; height: 30px; transform: rotate(180deg);">
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link d-flex align-items-center justify-content-center" href="#"
                                style="background-color: #1E3DEA; color: white; border-radius: 5px; text-align: center; width: 30px; height: 30px; line-height: 30px; display: inline-block;">
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link d-flex align-items-center justify-content-center" href="#"
                                style="background-color: #1E3DEA; color: white; border-radius: 5px; text-align: center; width: 30px; height: 30px; line-height: 30px; display: inline-block;">
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link d-flex align-items-center justify-content-center" href="#"
                                style="background-color: #1E3DEA; color: white; border-radius: 5px; text-align: center; width: 30px; height: 30px; line-height: 30px; display: inline-block;">
                                3
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link d-flex align-items-center justify-content-center" href="#"
                                style="background-image: url('/img/arrow_right.png'); background-size: contain; background-repeat: no-repeat; background-position: center; width: 30px; height: 30px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            document.querySelectorAll('.btn-primary').forEach(button => {
            button.addEventListener('click', () => {
                const dropdownId = button.id.replace('button', 'dropdown');
                const dropdown = document.getElementById(dropdownId);
                dropdown.style.display = dropdown.style.display === 'none' ? 'flex' : 'none';
            });
        });
        
        </script>
    
    <script src="/js/botones.js"></script>
    <script src="/js/historialCambios.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>