<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/correo.css">
    <title>Correo</title>
</head>
<body>
        <div class="caja_segundaria">
            <div class="fondo"></div>
            <div class="formulario">
                <h1>Ingresa Tu Correo</h1>
                <input type="text" placeholder="Ingrese su correo">
                <a class="boton" type="button" value="Enviar">
            </div>
        </div>
    </body>
</html>