<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Apex | Recuperar usuario </title>
  </head>
  <body>
    <main>
      <form>
        <h1>RECUPERAR USUARIO</h1>
        <input type="text" placeholder="Ingrese su correo o usuario" required />
        <input class="boton" type="submit" value="Ingresar" />
      </form>
    </main>
  </body>
</html>
