<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas de seguridad</title>
    <link rel="stylesheet" href="./src/public/css/preguntas_seguridad.css">
</head>
<body>
    <header>
        <h2>Nombre de usuario</h2>
        <div class="image-container">
            <img src="./src/public/img/campanas.png" alt="Imagen 1">
            <img src="./src/public/img/configuraciones.png" alt="Imagen 2">
            <img src="./src/public/img/cerrar-sesion.png" alt="Imagen 3">
        </div>
    </header>
    <div class="container">
        <div class="header">
            
            <div class="flecha">
                <img src="./src/public/img/atras.png" class="atras" alt="">
            </div>
            <center><h1>Preguntas de seguridad</h1></center>
        </div>

        <p>Tus preguntas de seguridad ayudan a mantener tu cuenta segura. Puede usarlos para restablecer su contraseña</p>

        <div class="blue-box">
            <p>¿Cuál fue tu primer proyecto o tarea en esta empresa?</p>
            <label for="first-project">Respuesta</label>
            <div class="form-group">
                <input type="text" id="first-project" name="first-project">
            </div>

            <p>¿Cuál fue el nombre de tu primera capacitación o curso en esta empresa?</p>
            <label for="first-training">Respuesta</label>
            <div class="form-group">
                <input type="text" id="first-training" name="first-training">
            </div>
            <div class="buttons">
                <button type="" class="button1">Agregar otra pregunta</button>
                <button type="" class="button2">Guardar cambios</button>
            </div>
        </div>
       
    </div>
</body>
</html>