<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Apex | Registrar nuevo usuario</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <main>
        <form class="formulario">
            <h1>REGISTRO</h1>
            <input type="text" placeholder="Nombre Completo">
            <input type="email" placeholder="Correo Electronico">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Confirmar Contraseña">
            <select name="rol" id="listarol" placeholder="Seleccione un rol">
                <option selected disabled>Seleccione un rol</option>
                <option value="Administrador">Administrador</option>
                <option value="Programador">Programador</option>
            </select>
            <!-- Cuadro de consentimiento de tratamiento de datos -->
            <div class="group_list">
                <input type="checkbox" id="consentimiento_datos" required>
                <p>Acepto los
                    <a href="/privacidad">términos y pólitica de privacidad</a>.</p>
            </div>
            <!-- Añadir el widget de reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="6LehqjMqAAAAAFyuvGgqBC_Jt46wMvAcNWwuTn_L"></div>
            <input class="boton" type="submit" value="Continuar">
        </form>
    </main>
</body>
<script src="/js/usuarios.js"></script>
</html>