.modal-header-custom {
    background-color: #2B2C33;
    border-bottom: none;
    color: white;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.modal-body {
    background-color: #2B2C33;
    color: white;
    text-align: center;
}

.modal-footer {
    background-color: #2B2C33;
    border-top: none;
    justify-content: center;
}

.unlock-icon-container {
    margin-bottom: 20px;
}

.modal-message {
    margin-top: 10px;
    font-size: 18px;
}

.btn-primary {
    background-color: #3E4DC8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}