@import url("main.css");
@import url("components/menu.css");

.modal-header-custom {
    background-color: #2B2C33;
    border-bottom: none;
    color: white;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    background-color: #2B2C33;
    color: white;
    text-align: center;
}

.modal-footer {
    background-color: #2B2C33;
    border-top: none;
    justify-content: center;
}

.unlock-icon-container {
    margin-bottom: 20px;
}

.modal-message {
    margin-top: 10px;
    font-size: 18px;
}
