@import url("main.css");
@import url("components/menu.css");
.content {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-top: 40px;
}

.cuadro {
  width: 70%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  border-radius: 4px;
  padding: 20px;
  margin-top: 50px;
}

.titulo {
  font-size: 25px;
}

.linea{
  height: 1px;
  background-color: black;
  margin: 15px 0px;
}

.caja2{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  padding: 10px 20px;
}

input{
  width: 80px;
  height: 70%;
  padding-left: 5px;
  outline: none;
  border-radius: 2px;
  border: solid 1px gray;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus{
  border: solid 1px blue;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);

}

.caja_btn{
  grid-column: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.boton{
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background-color: red;
  color: white;
}

.boton:hover{
  background-color: grey;
}

.btn--blue{
  margin-left: 10px;
  background-color: #1E3DEA;
}

.content {
  flex: 1; /* Permite que la columna .content ocupe el espacio restante */
  padding: 20px; /* Ajusta el padding según tus necesidades */
}


@media screen and (width<=1400px){
  .aside {
    width: 240px;
    
  }

  .cuadro {
    width: 90%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    border-radius: 4px;
    padding: 20px;
  }
  
}

@media screen and (width<=1150px){

  .cuadro {
    height: 65%;
  }

  .caja2{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
  }

  input{
    width: 80px;
    height: 35px;
    padding-left: 5px;
    outline: none;
    border-radius: 2px;
    border: solid 1px gray;
  }

  .caja_btn{
    grid-column:  1;
  }
  
}