@import "main.css";
@import "backgroud.form.css";


form{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    background-color: var(--color-1);
    padding: 5vh;
    border-radius: 2vh;
    color: #fff;
    font-family: 'CorbelR';
    text-align: center;
}

h1{
    text-align: center;
}

input[type= "text"], input[type= "email"], input[type= "password"]{
    margin: 20px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

a{
    color: #ffff;
}

select{
    width: 88%;
    padding: 10px;
    border-radius: 1vh;
    outline: none;
    border: none;
}


.group_list{
    margin: 10px 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_list p{
    text-wrap: wrap;
}
.boton{
    margin: 20px;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: .2s;
}

.boton:hover{
    background: #b4b4b4;
    transition: .2s;
}
.linea{
    display: flex;
    align-items: center;
}
.linea > p{
    margin: 10px;
}
.line{
    height: 1px;
    width: 150px;
    display: flex;
    background: #fff;
}

.metodos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.metodos > a{
    height: 60px;
    width: 60px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    transition: .2s;
}
.metodos > a:hover{
    background: #b4b4b4;
    margin-top: -1px;
    transition: .2s;
}
.metodos > a > img {
    height: 30px;
    width: 30px;
}

