.top-box {
    height: 50px;
    background-color: #394DC0; 
    color: white; 
}
.top-box .icons {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.top-box .icon {
    font-size: 24px; 
    margin-left: 20px; 
}
/* Asegura que SweetAlert2 se muestra sobre otros elementos */
.swal2-container {
    z-index: 9999 !important; /* Ajusta el valor si es necesario */
}
