@import url("main.css");
@import url("components/backgroud.form.css");

form{
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    border-radius: 2vh;
    color: #fff;
    font-family: 'CorbelR';
    text-align: center;
    padding: 5vh;
    gap: 2vh;
    width: 30%;
}


input{
    border-radius: 10px;
    border: none;
    padding: 2vh;
}

a{
    color: #ffff;
}

.consentimiento{
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.g-recaptcha{
    display: flex;
    justify-content: center;
}

.swal2-container {
    z-index: 9999 !important;
}


select{
    padding: 10px;
    border-radius: 1vh;
    outline: none;
    border: none;
}

.registro{
    background-image: url(/img/forms/bg2.jpg);
}
