/* Archivo para montar carpeta en Git hub */
* {
    margin: 0;
    padding: 0;
}

.dropdown-arrow {
    width: auto;
    height: 20px;
    position: relative;
    margin-left: auto;
}

.row {
    width: 100%;
    height: 100vh;
}

#settings-button,
#users-button,
#records-button,
#groups-button,
#reports-button,
#access-button,
#export-button,
#admin-button,
#config-button {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.aside {
    background-color: #1E3DEA;
}

.admin-section {
    margin-top: auto;
    padding-bottom: 20px;
}

th {
    background-color: #1E3DEA;
}

.header-row {
    align-items: center;
    height: 60px;
}

.header-row h1 {
    margin: 0;
    line-height: 60px;
}

.header-row .btn {
    line-height: 40px;
}

.content {
    padding-top: 20px;
}

.t1 {
    width: 10%;
    height: 40px;
    background-color: rgb(214, 214, 214);
}

.t2 {
    width: 60px;
    height: 40px;
    background-color: rgb(214, 214, 214);
}

.t3 {
    width: 100px;
    height: 40px;
    background-color: rgb(214, 214, 214);
}


.d-flex-end {
    display: flex;
    justify-content: flex-end;
}

.contenedor {
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

/* Diseño de LA CAJA DE INFORMACION */
.caja_informacion {
    width: 80%;
    height: 600px;
    padding: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-top: 30px;
}

/* Caja 1 IZQUIERDA */
.informacion_caja1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 5fr;
}

h1 {
    font-size: 30px;
}

/* Diseño de los select */
.selectores {
    width: 200px;
    height: 40px;
}

/* Diseño de los inputs */
.cajass {
    width: 80px;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

.cambio {
    height: 40px;
    margin-left: 40px;
}

.camb {
    margin-left: 40px;
}

.caja_input {
    display: flex;
    flex-direction: row;
}

/* Caja 2 DERECHA */
.caja_grilla {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1fr, 6);
    margin: 30px 0px;
}

.gboton {
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0px 1px;
}

.gboton:hover {
    background-color: gainsboro;
    color: black;
}


.content {
    flex: 1;
    /* Permite que la columna .content ocupe el espacio restante */
    padding: 20px;
    /* Ajusta el padding según tus necesidades */
}


@media screen and (width<=1500px) {

    .aside {
        width: 240px;
    }

    .caja_informacion{
        width: 90%;
        height: 800px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }

    .informacion_caja1 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    
}