<div class="devices_movil row navbar center-end" style="background: #394DC0; position: relative;">
  <i class="bi bi-bell text-light notification-icon1" id="notiI" style="font-size: 1.5rem; width: 4%;"></i>
  <i class="bi bi-person-circle text-light" style="font-size: 1.8rem; width: 4%;"></i>
  
  <div id="popupWindow" class="popup-window">
    <div class="popup-content">
      <p>Notificación 1</p>
      <p>Notificación 2</p>
      <p>Notificación 3</p>
      <p>Notificación 4</p>
      <p>Notificación 5</p>
      <p>Notificación 6</p>
      <p>Notificación 8</p>
      <button id="btnNoti" class="btnNoti">
        Desactivar Notificaciones
      </button>
    </div>
  </div>
</div>
